<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% @cart.line_items.each do |line_item| %>
  <p><%= render partial: "/carts/line_item", locals: {line_item: line_item} %></p>
<% end %>

<p>Order total: <strong><%= number_to_currency(@cart.display_total) %></strong></p>

<% if current_cart && current_cart.status != "submitted" %>
  <%= button_to 'Checkout', checkout_path %>
<% end %>
